body {
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  /* text-align: center; */
  /* background: url(https://kartinkin.net/pics/uploads/posts/2022-08/thumbs/1660419037_5-kartinkin-net-p-fon-dlya-veb-stranitsi-krasivo-6.jpg) */
  /*display: inline-block*/
}
A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   
button {
	display:inline-block;
}
h1 {
	color: #FFFF00
}
h2 {
	color: #FFFF00
	
}